/*.mainContainer{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
}
.chatContainer{
    width: 80%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.visualChatContainer{
    display: flex;
    height: 85%;
    width: 100%;
    background-color: blueviolet;
}
#terraImage{
    height: 100%;
    width: 35%;
    background-color: brown;
}
#chatWindow{
    height: 100%;
    width: 65%;
    background-color: blue;
}
.typingContainer{
    height: 15%;
    width: 100%;
}*/
