.mainContainer{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
}
.chatContainer{
    width: 80%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}