/*.sideBarContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    width: 20%; /*temp*/
/*}*/