.textArea {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: minmax(100px, 2.5fr) 1fr;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 0px; */
    width: 100%;
    height: 100%;
    background-color:#77ac80;
    border-radius: 20px;
    
    /* justify-content: center;
    align-items: center; */
    
}

.textInput {
    
}

.searchBar {
    padding: 0px;
    background-color:rgb(255, 255, 255);
    border-radius: 50px; 
    display: grid;
    grid-template-columns: 70px 10fr 50px 50px;
    align-items: center;
    padding: 0 20px;
    column-gap: 15px;
    width: 70%;
    
}

.searchBarButton {
    background-color: #000000;
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




