.textArea {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: minmax(100px, 2.5fr) 1fr;
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 0px; */
    /* width: 100%;
    height: 100%; */
    background-color:#77ac80;
    /* border-radius: 20px; */
    justify-items: center;
    align-items: center; 
    padding: 10px;
    
}

.textContainer {
    width: 70%;
    height: 70%;
    padding: 5px 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;

}

input[type=text] {
    display: grid;
    align-items: center;
    margin: 20px 0px;
    /* height: 70%;
    width: 100%; */
    border-color: transparent;
}

/* input[type=text]:hover {
    border-color: transparent;
} */

.searchBar {
    background-color:rgb(255, 255, 255);
    border-radius: 20px; 
    display: grid;
    grid-template-columns: 50px auto 50px 50px;
    align-items: center;
    padding: 5px 20px;
    column-gap: 10px;
    width: 70%;  
      
}

.searchBarButton {
    background-color: #000000;
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

/* https://www.w3schools.com/css/css_tooltip.asp */

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 65%;
  margin-left: -65px;
}

.searchBarButton:hover .tooltiptext {
  visibility: visible;
}

.searchBarButton:hover {
    background-color: #729069;
}



